<h3>Cadastro de itens</h3>

<form #itemForm="ngForm" (ngSubmit)="validar(itemForm)">

  <p-messages [(value)]="msgs"></p-messages>

  <div class="p-fluid p-formgrid p-grid">
    <div class="p-col-4">
      <div class="p-field p-col">
        <label class="label">Nome do item</label>
        <input [(ngModel)]="nomeItem" name="nomeItem" type="text" size="30" pInputText required>
        <div *ngIf="nomeItemValidation">
          <p-message severity="error" text="{{ mensagemCampoObrigatorio }}"></p-message>
        </div>
      </div>
    </div>
    <div class="p-col-4">
      <div class="p-field p-col">
        <label class="label">Unidade</label>
        <p-dropdown [options]="_unidades" (onChange)="verificaAbreviaturaUnidade($event)" required [(ngModel)]="unidade"
          name="unidade" placeholder="Selecione a unidade" optionLabel="label" [showClear]="true">
        </p-dropdown>
        <div *ngIf="unidadeValidation">
          <p-message severity="error" text="{{ mensagemCampoObrigatorio }}"></p-message>
        </div>
      </div>
    </div>

    <div class="p-col-4">
      <div class="p-field p-col">
        <label class="label">Quantidade</label>
        <div class="ui-inputgroup">
          <input type="number" [(ngModel)]="quantidade" name="quantidade" pInputText>
          <span class="ui-inputgroup-addon">{{ un }}</span>
        </div>
      </div>
    </div>
    <div class="p-col-4">
      <div class="p-field p-col">
        <label class="label">Preço</label>
        <div class="ui-inputgroup">
          <input type="text" pInputText currencyMask [(ngModel)]="preco" required name="preco"
            [options]="{ prefix: '', thousands: '.', decimal: ',' }">
        </div>
        <div *ngIf="precoValidation">
          <p-message severity="error" text="{{ mensagemCampoObrigatorio }}"></p-message>
        </div>
      </div>
    </div>
    <div class="p-col-4">
      <div class="p-field p-col">
        <label class="label">Data de validade</label>
        <div *ngIf="produtoPerecivel;then dataValidadeRequired else dataValidadeNotRequired"></div>
        <ng-template #dataValidadeRequired>
          <p-calendar [(ngModel)]="dataValidade" name="dataValidade" rquired dateFormat="dd/mm/yy"></p-calendar>
        </ng-template>
        <ng-template #dataValidadeNotRequired>
          <p-calendar [(ngModel)]="dataValidade" name="dataValidade" dateFormat="dd/mm/yy"></p-calendar>
        </ng-template>
        <div *ngIf="dataValidadeValidation">
          <p-message severity="error" text="{{ mensagemCampoObrigatorio }}"></p-message>
        </div>
      </div>
    </div>
    <div class="p-col-4">
      <div class="p-field p-col">
        <label class="label">Data de fabricação</label>
        <p-calendar [(ngModel)]="dataFabricacao" name="dataFabricacao" required dateFormat="dd/mm/yy"></p-calendar>
        <div *ngIf="dataFabricacaoValidation">
          <p-message severity="error" text="{{ mensagemCampoObrigatorio }}"></p-message>
        </div>
      </div>
    </div>
    <div class="p-col-4">
      <div class="p-field p-col input-switch">
        <label class="label">Produto perecível</label>
        <p-inputSwitch [(ngModel)]="produtoPerecivel" name="produtoPerecivel" required></p-inputSwitch>
      </div>
      <div *ngIf="produtoPerecivelValidation">
        <p-message severity="error" text="{{ mensagemCampoObrigatorio }}"></p-message>
      </div>
    </div>

  </div>
  <button pButton type="button" (click)="redirectToList()" icon="pi pi-times" label="Cancelar" class="ui-button-danger"
    style="float:right;"></button>
  <p-button type="submit" icon="pi pi-check" label="Salvar"
    style="float:right; margin-right: 3px; margin-bottom: 30px;"></p-button>
</form>